{% extends 'govuk_template.html' %}

{% block inner_content %}
<div class="container">
    <p>These are documents moved from CDMS before 21/11/2017. You can't upload more documents or change the file structure here.</p>
    <p>Fill in the appropriate form in Data Hub to add new information (for example interactions, contacts, companies etc).</p>
    <h1>folder: {{ path }}</h1>
    <table id="list">
      <thead>
        <tr>
          <th scope="col">Filename</th>
          <th class="numeric" scope="col">Filesize</th>
        </tr>
      </thead>
      <tbody>
        {% for item in contents %}
            <tr>
              <th scope="row"><a href="{{ item.path }}">{{ item.name }}</a></th>
              <td class="numeric">{{ item.size | filesizeformat }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
